.idea/**
.DS_Store
node_modules/
dist/
internal/server/web/dist/
.env
.env.local
.env.*.local
*.log
logs/**
.task/
data/**
bin/**
.vscode/**
coverage/
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.cache/
.next/
out/